* {
  font-family: arial, sans-serif;
}
#bookForm {
  background: #f7f7f7;
  padding: 20px;
  max-width: 500px;
}
#bookForm * {
  box-sizing: border-box;
}
#bookForm input, #bookForm label, #bookForm select {
  display: block;
  width: 100%;
}
#bookForm input, #bookForm select {
  padding: 10px;
}
#bookForm label {
  padding: 10px 0;
}
#bookForm input[type="submit"] {
  margin-top: 20px;
  border: 0;
  color: #fff;
  background: #00a1c7 ;
  cursor: pointer;
}

#bookForm input[type="submit"]:disabled { background: #424242; }


